.logo {
  max-width: 400px;
  img {
    width: 100%;
  }
  @media screen and (max-width: 750px) {
    max-width: 300px;
  }
}
.nav-bar {
  position: fixed;
  height: 10vh;
  background-color: white;
}
.nav {
  padding: 1.3rem 0.6rem;
  padding-left: 4rem;
  .avater {
    width: 3rem;
    height: 3rem;
    img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 12px;
    }
  }
}
