.logo {
  max-width: 400px;
  img {
    width: 100%;
  }
  @media screen and (max-width: 750px) {
    max-width: 200px;
  }
}
.nav-bar {
  position: fixed;
  height: 8vh;
  background-color: white;
}
.nav {
  padding: 0.6rem 0.2rem;
  @media screen and (max-width: 750px) {
    width: 100%;
    .user-items {
      display: none;
    }
  }
}
.nav-menu {
  padding-right: 1.5rem;

  .tbl-btn {
    border: 0;
    padding: 3px;
    background-color: transparent;
  }
  .menu {
    overflow: hidden;
    background-color: transparent;
    box-shadow: $shadow-2;
    transition: $transition-all ease-in;
    display: none;
    position: absolute;
    right: 10%;
    top: 170%;
    min-width: 4rem;
    border-radius: 3px;
    z-index: 10000;
    .option {
      padding: 0.5rem 0.5rem;
      color: $dark;
      border: 0;
      background-color: #f8f8f8;
      width: 100%;
      span {
        font-size: 14px;
        text-align: start;
      }
      img {
        width: 20px;
      }
      &:hover {
        background-color: #eeeeee;
      }
    }
  }
}

.right-side {
  position: relative;
  i {
    cursor: pointer;
  }
  .nav-dropdown {
    position: relative;
  }
}
.user-items {
  display: flex;
  align-items: center;
  justify-content: start;
  .avater {
    width: 3rem;
    height: 3rem;
    img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .user {
    display: flex;
    align-items: start;
    justify-content: baseline;
    flex-direction: column;
    h6 {
      line-height: 8px;
    }
    span {
      color: $color-200;
      font-size: 12px;
      font-weight: 500;
    }
  }
}

.messages {
  .item-content {
    padding: 0 !important;
  }
  overflow: visible;
  .item-header {
    text-align: center;
    border-bottom: 1px solid $gray;
  }
  .dropdown-menu {
    width: max-content;
    min-width: 18rem;
    max-width: 22rem;
    min-height: 25rem;
    margin-top: 1.7rem;
  }
  .dropdown-toggle::after {
    display: none;
  }
  .notifications {
    margin: 0rem;
    padding: 0rem;
    overflow: auto;
    overflow-y: hidden;
    height: 60vh;
    .n-item {
      margin: 0;
      padding: 0.6rem 0.8rem;
      width: 100%;
      margin-bottom: 1px;
      transition: all 0.3s;
      border-bottom: 1px solid $color-100;
      &:hover {
        background-color: $color-100;
      }
      .header {
        font-size: $s6;
        margin-bottom: 00.4rem;
        .icon {
          font-size: 150%;
        }
        .schedule {
          margin-left: 1rem;
          font-size: 10px;
          color: $white;
          border-radius: 20px;
          padding: 0.1rem 0.8rem;
          height: max-content;
          background-color: $color-200;
        }
      }
      .n-item-body {
        cursor: pointer;
        margin-top: 0rem;
        .notice-title {
          padding: 0rem 1rem;
          font-size: $s6;
          color: $dark;
          margin-top: -18px;
        }
        .message {
          font-size: $s6 !important;
        }
        .link-btn {
          padding: 0rem 1rem;
          font-size: $s6;
          cursor: pointer;
        }
      }
    }
  }
}
.header-notification {
  .item-content {
    padding: 0 !important;
  }
  overflow: visible;
  .item-header {
    text-align: center;
    border-bottom: 1px solid $gray;
  }
  .dropdown-menu {
    width: max-content;
    min-width: 18rem;
    max-width: 22rem;
    margin-top: 1.7rem;
  }
  .dropdown-toggle::after {
    display: none;
  }
  .notifications {
    margin: 0rem;
    padding: 0rem;
    overflow: auto;
    overflow-y: hidden;
    height: 60vh;
    .n-item {
      margin: 0;
      padding: 0.6rem 0.8rem;
      width: 100%;
      margin-bottom: 1px;
      transition: all 0.3s;
      border-bottom: 1px solid $color-100;
      &:hover {
        background-color: $color-100;
      }
      .header {
        font-size: $s6;
        margin-bottom: 00.4rem;
        .icon {
          font-size: 150%;
        }
        .schedule {
          margin-left: 1rem;
          font-size: 10px;
          color: $white;
          border-radius: 20px;
          padding: 0.1rem 0.8rem;
          height: max-content;
          background-color: $color-200;
        }
      }
      .n-item-body {
        cursor: pointer;
        margin-top: 0rem;
        .notice-title {
          padding: 0rem 1rem;
          font-size: $s6;
          color: $dark;
          margin-top: -18px;
        }
        .message {
          font-size: $s6 !important;
        }
        .link-btn {
          padding: 0rem 1rem;
          font-size: $s6;
          cursor: pointer;
        }
      }
    }
  }
}
