@import "./__theme.scss";
.title-primary {
  color: $color-200 !important;
}
.title-secondary {
  font-weight: "100";
  color: $color-100;
}
.subtitle-primary {
  font-size: $s6;
  color: #1a1a1a;
}
.text-sm {
  font-size: $s6;
}
.heading {
  display: flex;
  align-items: flex-end;
  font-weight: 600;
  text-align: start;
}
.limited-char {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20ch;
}
.limited-char-25 {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30ch;
}
.limited-char-50 {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60ch;
}
.limited-char-100 {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120ch;
}
.limited-char-150 {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300ch;
}
